{
  "google_ai_api_keys": [
    "AIabcdefghijklmnopqrstuvwxyz0123456789"
  ],
  "google_ai_model": "gemini-2.0-flash",
  "db_files_dir": "/path/to/summarized-rss-feeds/caches/",
  "desired_language": "Korean",
  "verbose": false,
  //"verbose": true,

  "rss_feeds": [
    {
      "name": "Tech RSS Feeds Summarized",
      "cache_filename": "tech.db",
      "serve_path": "/tech",
      "feed_urls": [
        "https://hnrss.org/newest?points=50",
        "https://lobste.rs/rss",
        "https://www.hackster.io/news.atom",
      ],
      "publish_title": "Summarized RSS Feeds About Technology",
      "publish_link": "https://no-such-domain.com",
      "publish_description": "Tech RSS Feeds Summarized with Google Gemini API",
      "publish_author": "rss-feeds-summarizer",
      "publish_email": "no-such-email@no-such-domain.com",
    },
  ],
  "fetch_feeds_interval_seconds": 300,
  "fetch_feeds_timeout_seconds": 60,
  "permitted_user_agents": [
    "Feedly", // feedly crawler bot's user agent
  ],

  "rss_server_port": 8080,
}
